<!-- wp:template-part {"slug":"header","area":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","layout":{"type":"constrained"}} -->
<main class="wp-block-group alignfull">
	<!-- wp:query-title {"type":"archive","align":"wide","style":{"typography":{"lineHeight":"1"},"spacing":{"padding":{"top":"var:preset|spacing|50"}}}} /-->

	<!-- wp:group {"layout":{"type":"constrained"}} -->
	<div class="wp-block-group">
		<!-- wp:spacer {"height":"var:preset|spacing|50"} -->
		<div style="   height:var(--wp--preset--spacing--50)" aria-hidden="true" class="wp-block-spacer"></div>
		<!-- /wp:spacer -->


		<style>

			#dealers a img {
				filter: invert(1);
				max-width: 200px;
				margin-bottom: 20px;
			}
		</style>
		<div id="dealers">

			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-sm-6">
						<p>
							Calgary Area
						</p>
						<div class="col-lg-3 col-sm-6">
							<a href="https://www.chhyundai.com/" target="_blank" rel="noopener"><img src="https://tadvantagebetaprod-com.cdn-convertus.com/uploads/sites/555/2023/09/df2bde8f9741ce08967154d040f8b9eex.png"></a>
						</div>
						<div class="col-lg-3 col-sm-6">
							<a href="https://www.chnissan.com/" target="_blank" rel="noopener"><img src="https://tadvantagebetaprod-com.cdn-convertus.com/uploads/sites/555/2023/09/c100d41f81445bb2e3f43cc983b112e4x.png"></a>
						</div>
						<div class="col-lg-3 col-sm-6">
							<a href="https://www.cmpauto.com/" target="_blank" rel="noopener"><img src="https://tadvantagebetaprod-com.cdn-convertus.com/uploads/sites/555/2023/10/cmp_white-2023.png"></a>
						</div>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-sm-6">
							<p>
							</p>
						</div>
						<div class="col-lg-3 col-sm-6">
							<a href="https://www.okotoksgm.com/" target="_blank" rel="noopener"><img src="https://tadvantagebetaprod-com.cdn-convertus.com/uploads/sites/555/2023/10/ogm_rgb_2023-NEW-White.png"></a>
						</div>
						<div class="col-lg-3 col-sm-6">
							<a href="https://www.strathmoreford.com/" target="_blank" rel="noopener"><img src="https://tadvantagebetaprod-com.cdn-convertus.com/uploads/sites/555/2023/09/e211621217a0d64ebf9bfe5e17b916dax.png"></a>
						</div>
						<div class="col-lg-3 col-sm-6">
							<a href="https://www.summitfleet.com/" target="_blank" rel="noopener"><img src="https://tadvantagebetaprod-com.cdn-convertus.com/uploads/sites/555/2023/09/4a5adb88e191695d8f08954b369d31cdx.png"></a>
						</div>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-sm-6">
						</div>
						<div class="col-lg-3 col-sm-6">
							<a href="https://www.shawgmc.com/" target="_blank" rel="noopener"><img src="https://tadvantagebetaprod-com.cdn-convertus.com/uploads/sites/555/2023/10/SHAW_WHITE_NO_PROV_2023.png"></a>
						</div>
						<div class="col-lg-3 col-sm-6">
							<a href="https://www.sunridgeauto.com/" target="_blank" rel="noopener"><img src="https://tadvantagebetaprod-com.cdn-convertus.com/uploads/sites/555/2023/10/MicrosoftTeams-image-1.png" alt="Sunridge Auto"> </a>
						</div>
						<div class="col-lg-3 col-sm-6">
							<a href="https://www.universalford.com/" target="_blank" rel="noopener"><img src="https://tadvantagebetaprod-com.cdn-convertus.com/uploads/sites/555/2023/09/1bd7feb2ea0a24567880ffbc899c3b66x.png"></a>
						</div>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-sm-6">
						</div>
						<div class="col-lg-3 col-sm-6">
							<a href="https://www.genesisnorthcalgary.ca/" target="_blank" rel="noopener"><img src="https://tadvantagebetaprod-com.cdn-convertus.com/uploads/sites/555/2023/10/image.webp"></a>
						</div>
					</div>
				</div>
				<hr style="   border: 2px solid rgba(255, 255, 255, 0.1); margin-top: 21px; margin-bottom: 21px; background: none;">
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-sm-6">
							<p>
								Northern Alberta
							</p>
						</div>
						<div class="col-lg-3 col-sm-6">
							<a href="https://www.summitgm.ca/" target="_blank" rel="noopener"><img src="https://tadvantagebetaprod-com.cdn-convertus.com/uploads/sites/555/2023/10/sgm_wht_2023.png"></a>
						</div>
						<div class="col-lg-3 col-sm-6">
						</div>
						<div class="col-lg-3 col-sm-6">
						</div>
					</div>
				</div>
				<hr style="   border: 2px solid rgba(255, 255, 255, 0.1); margin-top: 21px; margin-bottom: 21px; background: none;">
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-sm-6">
							<p>
								Ontario
							</p>
						</div>
						<div class="col-lg-3 col-sm-6">
							<a href="https://www.woodbinegm.com/" target="_blank" rel="noopener"><img src="https://tadvantagebetaprod-com.cdn-convertus.com/uploads/sites/555/2023/11/woodbinegm-gm-white-72-01-1.png"></a>
						</div>
						<div class="col-lg-3 col-sm-6">
						</div>
						<div class="col-lg-3 col-sm-6">
						</div>
					</div>
				</div>
				<hr style="   border: 2px solid rgba(255, 255, 255, 0.1); margin-top: 21px; margin-bottom: 21px; background: none;">
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-sm-6">
							<p>
								California Area
							</p>
						</div>
						<div class="col-lg-3 col-sm-6">
							<a href="https://www.ivgm.com/" target="_blank" rel="noopener"><img src="https://tadvantagebetaprod-com.cdn-convertus.com/uploads/sites/555/2023/10/IVGM-2023-logo-WHT.png"></a>
						</div>
						<div class="col-lg-3 col-sm-6">
							<a href="https://www.ivhonda.com/" target="_blank" rel="noopener"><img src="https://tadvantagebetaprod-com.cdn-convertus.com/uploads/sites/555/2023/09/14105e4be182249b077293bf1ac0bd51x.png"></a>
						</div>
						<div class="col-lg-3 col-sm-6">
							<a href="https://www.ivhyundai.com/" target="_blank" rel="noopener"><img src="https://tadvantagebetaprod-com.cdn-convertus.com/uploads/sites/555/2023/09/780067a15bad55122c5345e8e2deaed7x.png"></a>
						</div>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-sm-6">
						</div>
						<div class="col-lg-3 col-sm-6">
							<a href="https://www.chulavistaford.com/" target="_blank" rel="noopener"><img src="https://tadvantagebetaprod-com.cdn-convertus.com/uploads/sites/555/2023/09/2cc0b62835f6bdf1a2f5283d3738828cx.png"></a>
						</div>
						<div class="col-lg-3 col-sm-6">
							<a href="https://www.chulavistakia.com/" target="_blank" rel="noopener"><img src="https://tadvantagebetaprod-com.cdn-convertus.com/uploads/sites/555/2023/09/2f13648a1d305e4ed194450cb82646bex.png"></a>
						</div>
						<div class="col-lg-3 col-sm-6">
							<a href="https://www.cvhonda.com/" target="_blank" rel="noopener"><img src="https://tadvantagebetaprod-com.cdn-convertus.com/uploads/sites/555/2023/09/f82a60ddb105b5ea09025766f05cbbe9x.png"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- wp:spacer {"height":"var:preset|spacing|30","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}}} -->
		<div style="   margin-top:0;margin-bottom:0;height:var(--wp--preset--spacing--30)" aria-hidden="true"
			 class="wp-block-spacer"></div>
		<!-- /wp:spacer -->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer","tagName":"footer"} /-->
